<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="javascript:void(0);" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" id="zipFile" name="zipFile" class="form-control" accept=".zip" required>
    </div>
    <div class="text-right">
      <button type="submit" name="zipSubmit" class="btn btn-primary" onclick="upload()">Upload</button>
    </div>
  </form>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const upload = () => {
    const zipfile = document.getElementById('zipFile').files;

    const formData = new FormData();
    formData.append("zipfile", zipfile[0]);

    axios.post(`/upload`, formData, 
    {
      headers: {
        'content-type': 'mutipart/form-data'
      }
    })
      .then(function (response) {
        console.log(response);
      })
      .catch(function (error) {
        console.log(error);
      });
  }
</script>

</html>
